# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
core/__pycache__/__init__.cpython-38.pyc
core/__pycache__/admin.cpython-38.pyc
core/__pycache__/apps.cpython-38.pyc
core/__pycache__/models.cpython-38.pyc
core/__pycache__/views.cpython-38.pyc
core/migrations/__pycache__/__init__.cpython-38.pyc
.idea/
/Coming_soon/local_settings.py
